@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-blue: #0ea5e9; /* Electric Blue */
  --color-brand-orange: #f97316; /* Sunset Orange */
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

/* Global Reset */
body {
  background-color: var(--color-brand-dark);
  color: #e2e8f0;
}